
*{
  color: #f1f1f1;
}
body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background: rgb(68, 66, 66);
  height: 100vh;
}


.content{
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
  "tsk tsk tsk tsk spt spt"
  "nl nl tmp tmp spt spt"
  "lm lm pr pr cl cl"
  "lmt lmt lmt lmt cl cl"
  "crc crc cd cd cd cd";

  gap: 15px;
  
  
}
  .section{
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-flow: column wrap;
  background: rgba(70, 101, 146, 0.2);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-content: center;
  

}

input, textarea{
  width: 80%;
  
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  font-size: 16px;
  color: #ffffff;
  padding: 8px;
  
}


input::placeholder{
  color: #ffffff;
}

button{
    width: 80%;
    height: 45px;
    background: #f1f1f1;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    
}

select{
  width: 80%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 20px;
  font-size: 16px;
  color: #ffffff;
  padding: 8px;
}

#tasksList{
  grid-area: tsk;
  align-content: center;
  align-items: center;
  gap: 10px;
  
}

 #notesList{
  
  grid-area: nl;
  align-content: space-around;
  align-items: center;
  #notaTexto{
    height: 200px;
  }
}

#metasList{
  grid-area: lm;
}

.calendar{
  
  grid-area: cl;
  border-radius: 10px;
}



#temp{
 
  grid-area: tmp;
  align-content: space-around;
  align-items: center;
  #timerDisplay{
    font-size: 50px;
    border: none;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    
  }
  
}

.spotify-player{
  grid-area: spt;
}
#createClase{
  grid-area: crc;
  height: 80%;
  align-content: center;
  align-items: center;
}

#clases-container{
  
  grid-area: cd;
  height: 80%;
  overflow: auto;
  align-items: flex-start;
  align-content: flex-start;
  padding-inline: 20px;
  gap: 10px;
  button{
    flex-basis: 80%;
    height: 100%;
    text-overflow: clip;
    font-size: 50px;
    background: rgba(237, 237, 237, 0.5);
    color: #f1f1f1;
  }

}

#metasList{
  grid-area: lm;
  align-content: space-around;
  align-items: center;
}

#listaMetas{
  grid-area: lmt;
  max-height: 500px;
  overflow: auto;
  justify-items: center;
  align-items: flex-start;
  align-content: center;
  
  gap: 15px;

}
.task-item{
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, .2);
}
 

#promedio{
  grid-area: pr;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  gap: 8px;
}

.notasGrid{
  padding: 20px;
}
.script .card{
  background: #f1f1f1;
}






